[submodule "Engine/ThirdParty/SDL"]
	path = Engine/ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Engine/ThirdParty/volk"]
	path = Engine/ThirdParty/volk
	url = https://github.com/zeux/volk
[submodule "Engine/ThirdParty/toml11"]
	path = Engine/ThirdParty/toml11
	url = https://github.com/ToruNiina/toml11
